<footer class="footer">
	<div class="container">
		<div class="col-md-3">
			<h4 class="text-muted">Sell on Monkey Wrench</h4>
			<ul>
				<li>Seller Handbook</li>
				<li>Get Our Credit Card Reader</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4 class="text-muted">Lets Meet</h4>
			<ul>
				<li>About</li>
				<li>Careers</li>
				<li>Press</li>
				<li>Developers</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4 class="text-muted">Discover and Shop</h4>
			<ul>
				<li>FAQ</li>
				<li>Blog</li>
				<li>Mobile Apps</li>
				<li>Affiliates</li>
				<li>How To's</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4 class="text-muted">Follow Us</h4>
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Instagram</li>
				<li>YouTube</li>
				<li>Vine</li>
			</ul>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-lg-12 centered">
			<p>© 2015 Monkey Wrench, Inc.</p>
		</div>
	</div>
</footer>